/* 
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
/* }
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
/* }
@media only screen and (max-width: 425px){
	Small smartphones [325px -> 425px] */ */ */
  @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body{
  display: flex;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;}

  h1{font-family: 'Muli', sans-serif;;
  font-weight: bolder;
  text-align: center;
  color: rgb(5, 1, 1);
  margin-bottom: 0px;
  margin-top: 8px;
  padding-bottom: 2px;
  font-size: 48px;
  text-shadow: 20px 20px 20px rgb(10, 24, 146);
  font-size: 30px;
  text-transform: uppercase;
}

#heading img{
  float: left;
  width: 10%;
  /* height: 150px; */
  margin-top: 220px;
  border-radius: 70px;
  /* padding: 50px 50px 50px 50px; */
}
 .overlay{
  background-color: rgba(25, 29, 9, 0.8);
  margin-left: 25%;
  margin-right: 16%;
  opacity: 0.9;
  border-radius: 70px;
}
h2{
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  font-style: oblique;
  color:rgb(197, 197, 196);
  font-family:'Quicksand', sans-serif;
}
.form-check-label{
  color: rgb(19, 13, 13);
  font-size: 22px;
}
.form{
  margin-bottom: 22px;
  padding-bottom: 18px;
}
.form-group{
  color: rgb(174, 163, 138);
  font-weight: 100;
  font-size: 22px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card-deck{
  padding-bottom: 30px;
  font-weight: 800;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  color: rgb(30, 170, 116);
}

.page-footer{
  background-color: rgba(66, 167, 120, 0.8); 
  width: 1300px;
  border-radius: 70px;
}
#get{
  color: #f5f5f5;
  text-shadow: 2px 2px 5px black;
  margin-bottom: 10px;
  /* align-items: center; */
  padding: 0px 0px 0px 650px;
}
input[type="radio"] {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.card{
  background: rgb(42, 43, 44);
  border-radius: 70px;
}
.card-body{
  color: rgb(194, 182, 182);
}

.footer-copyright{
  color: rgb(36, 32, 32);
  font-weight: 600;
  font-size: 15px;}

.bg-success {
  border-radius: 70px;
}